/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Danny - HTML Template
Version:	1.1
Author:	    Andrey Sokoltsov
Profile:	http://themeforest.net/user/andreysokoltsov
-------------------------------------------------------------------*/

/* PLUGIN CSS */


/* MAIN CSS */
@import url("bootstrap.min.css");
@import url("main.css");

